$a-tags: 'a, a:active, a:hover, a:visited';
$basefont: 'Nunito', sans-serif;

$basecolor: rgb(192, 214, 192);
$headercolor: rgb(153, 194, 78);
$secondarycolor: white;
$accentcolor: rgb(161, 211, 146);
$activecolor: rgb(38, 94, 27);

$fontcolor: lightgreen;
$headertextcolor: rgb(217, 231, 191);
$articleheadfontcolor: rgb(14, 14, 19);

$haircolor: #002163;
$skincolor: #b1ab4e;

*{
  padding: 0;
  margin: 0;
}
.app {
  margin: 0 auto;
}
body {
  background-color: $basecolor;
  margin: 0;
  padding: 0;
  font-family: $basefont;
}
header {
  color: $headertextcolor;
  background-color: $headercolor;
}
nav {
  color: $secondarycolor;
}
ul {
  padding: 0;
  display: grid;
  grid-template-columns: auto;
}
li {
  display: block;
}
.Desktop {
  display: none;
}

.NavLink {
  padding: .5em;
  color: $headertextcolor;
  text-align: center;
}
#{$a-tags} {
  text-decoration: none;
}
a {
  .NavLink:hover{
    background-color: $accentcolor;
  }
}
header{
  display: grid;
}
/*
  .app{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 70%;
    margin: 3em auto;
  }
*/
.title_bar {
  color: $secondarycolor;
  h1 {
    color: $headertextcolor;
    font-size: 2em;
    text-align: center;

  }
}
.subtitle_bar {
  h1 {
    color: $headertextcolor;
    text-align: center;
  }
}

article {
  color: $fontcolor;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  background-color: rgb(32, 150, 110);
  td  {
    padding: 4%;
    border: 1px solid $fontcolor;
  }
}
.ArticleHead {
  width: 100%;
  background-color: $accentcolor;
  color: $articleheadfontcolor;
  h1 {
    padding: 1em;
    text-align: center;
  }
}
.ArticleContent {
  width: 100%;
  p {
    padding: 1em;
  }
}
footer {
  background-color: $headercolor;
  color: $headertextcolor;
  p {
    padding: 1em;
    text-align: center;
  }
}
.Active{
  background-color: $activecolor;
}
//  tablet
@media only screen and (min-width: 700px) {
  .app {
    max-width: 100%;
  }
  nav {
    grid-column: 3;
  }
  ul {
    grid-template-columns:  auto auto auto auto auto;
  }
  header{
    grid-column: 1/5;
    grid-template-columns: 20% 20% auto;
  }
  .subtitle_bar {
    grid-column: 2/3;
    h1 {
      padding-top: .25em;
    }
  }
  article {
    grid-column: 1/5;
  }
  .ArticleHead {
    width: 30%;
    h1 {
      padding: 1em;
      text-align: right;
    }
  }
  .ArticleContent {
    width: 70%;
  }
}
//  desktop
@media only screen and (min-width: 1500px) {
  .app {
    max-width: 80%;
  }
  .ArticleHead {
    width: 20%;
  }
  .ArticleContent {
    width: 80%;
  }
}
@keyframes blink {
  0% {
    height:100%;
  }
  50% {
    height: 0%;
  }
  100% {
    height:100%;
  }
}

svg {
  margin: auto;
}
         #backhair {
           fill:$haircolor;
           fill-opacity:1;
           stroke:none;
           stroke-width:4.42592669;
           stroke-linejoin:round;
           stroke-miterlimit:4;
           stroke-dasharray:none;
           stroke-opacity:0
         }
         #face{
           fill:$skincolor;
           fill-opacity:1;
           stroke:none;
           stroke-width:5.22699976;
           stroke-linejoin:round;
           stroke-miterlimit:4;
           stroke-dasharray:none;
           stroke-opacity:0;
         }
         #eyeright
         {
           fill:$haircolor;
           fill-opacity:1;
           stroke:none;
          stroke-width:4.75889492;
          stroke-linejoin:round;
          stroke-miterlimit:4;
          stroke-dasharray:none;
          stroke-opacity:0;
          animation-name: blink;
          animation-duration: 5s;
        }
         #eyeleft {
           display:inline;
           fill:$haircolor;
           fill-opacity:1;
           stroke:none;
           stroke-width:4.75889492;
           stroke-linejoin:round;
           stroke-miterlimit:4;
           stroke-dasharray:none;
           stroke-opacity:0;
          animation-name: blink;
          animation-duration: 5s;
        }
         #mouth {
           fill:$haircolor;
           fill-opacity:1;
           stroke:none;
           stroke-width:0.2242776px;
           stroke-linecap:butt;
           stroke-linejoin:miter;
           stroke-opacity:1;
           transition: width 2s ease-in-out;
        }
          #leftbothair { 
            fill:$haircolor;
            fill-opacity:1;
            stroke:none;
            stroke-width:0.26458332px;
            stroke-linecap:butt;
            stroke-linejoin:miter;
            stroke-opacity:1;
         }
        #middlebothair {
          fill:$haircolor;
          fill-opacity:1;
          stroke:none;
          stroke-width:0.26458332px;
          stroke-linecap:butt;
          stroke-linejoin:miter;
          stroke-opacity:1;
         }
         #middlelefthair {
           fill:$haircolor;
           fill-opacity:1;
           stroke:none;
           stroke-width:0.26458332px;
           stroke-linecap:butt;
           stroke-linejoin:miter;stroke-opacity:1;
          }
         
         #middlehair {
           fill:$haircolor;
           fill-opacity:1;
           stroke:none;
           stroke-width:0.26458332px;
           stroke-linecap:butt;
           stroke-linejoin:miter;
           stroke-opacity:1;
          }
         #tophair {
           fill:$haircolor;
           fill-opacity:1;
           stroke:none;
           stroke-width:0.27467895px;
           stroke-linecap:butt;
           stroke-linejoin:miter;
           stroke-opacity:1;
          }