body {
  background-color: rgb(11, 46, 11);
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;

}
header {
  color: aquamarine;
  background-color: rgb(194, 140, 78);
  padding: 2em;
}
header h1 {
  color: aquamarine;
  font-size: 2em;
}
nav {
  grid-column: 5;
  color: white;
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  display: block;
  box-sizing: border-box;
}
header{
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 30% auto auto;
}
/*
.app{
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 70%;
  margin: 3em auto;
}
*/
.title_bar {
  color: white;
}
.subtitle_bar {
  grid-column: 2/5;
}
.subtitle_bar h1 {
  color: red;
  text-align: center;
}
article {
  color: lightgreen;
  display: flex;
  justify-self: center;
  grid-column: 1/5;
  background-color: rgb(32, 150, 110);
  padding: 2em;
}
article td  {
   padding: 4%;
   border: 1px solid lightgreen;
}
.ArticleHead {
  width: 20%;
}
.ArticleContent {
  width: 80%;
}