/*Yleiset, koko dokumenttiin vaikuttavat tyylimääritykset*/
body{
    text-align:left; 
    margin: 0; font-family: sans-serif;
    font-size: 100%; font-family: 'Raleway', sans-serif;
    color:floralwhite; text-shadow: 0.1em 0.1em 0.1em black;
    background-color: black;
    background-image:url(moon-2776955_1920.jpg)/*alternate picture:all-2947500_1920 */;
    background-repeat: no-repeat;
    background-size: 100%;
}
/*Ikonien tyylimäärittelyt*/
i {
    width: 1em;
    float: left;
}
/*Navigaatioikkunan pohjan tyylimääritykset*/
ul {
    list-style-type: none;
    margin: 30; padding: 0;
    overflow: hidden; width:100%;
    border-radius: 1em;
}
/*Navigaatioikkunan sarakkeiden tyylimääritykset*/
li { 
    background-color: rgba(20,20,20,1);
}
/*Listan linkkien tyylimääritykset*/
li a {
    display: block;
    color: lightgray;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
/*Listan linkkien tyylimääritykset, kun kursori asetetaan niiden päälle*/
a:hover:not(.active){
    background-color:rgba(10,10,10,1);
}
/*Aktiivisen linkin tyylimääritykset */
.active {
    background-color:rgba(10,10,10,1);
}
/*Kuvien yleiset tyylimääritykset*/
img {
    width:100%;
    height: auto;
    padding: 0px;
}
/*Otsikon kuvan tyylimäärittelyt*/
img.headerpic {
    padding: 0px;
    width: 15em;
    display: inline-block;
    border-radius: 1em;
    border:solid 0.1em lightgray;
}
/*Sivua hallinnoivat tyylimäärittelyt*/
article.page {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
}
/*Otsikkolohkon tyylimäärittelyt*/
section.header{ 
    display:inline-block;
    width: 100%; 
    margin-top: 1em;
    overflow:visible;
}
/*Otsikkolohkon tekstin tyylimäärittelyt*/
section.headertitle{
    width: 70%;
    min-width: 300px;
    /*border: 0.1em solid lightgray;*/
    padding: 1em; 
    text-align: center; 
    font-size: 200%;
    letter-spacing: 3px/36px;float: left;
}/*Navigaatioikkunan tyylimäärittelyt*/
nav{
    padding-top: 0.5em;
    padding-right: 0.5em;
    width: 10em; 
    color: aliceblue; 
    float: left;
}/*Section-elementin tyylimäärittelyt*/
section{
    display: inline-block;
}/*Sisältöpalkkien tyylimäärittelyt*/
.content{ 
    padding: 1em;
    background-color: rgba(20,20,20,.8);
    text-align: left;
    width: 35%;
    height: auto;
    min-width: 200px;
    min-height: 30em;
   /* border: 0.05em solid;*/ 
    float: left; 
    margin: 1em; 
    overflow: hidden; 
    border-radius: 1em;
}/*Taustan tyylimäärittelyt*/
.background{
    background color: black;
}
/*Yhteystietopalkin tyylimäärittelyt*/
footer{
    text-align: center;
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: 5em;
    border: 0em; 
    border-radius: 1em;
    float: left;
}